.legend select {
  margin-bottom: 8px;
  width: 100%;
  color: white;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 98%;
  background-position-y: 50%;
}

.msp-plugin .msp-viewport-controls-panel {
  height: 300px;
  overflow-y: scroll;
}

.cancelButton {
  width: 50%;
  display: flex;
  place-content: center;
  margin-top: 24px;
  background: red;
  margin: auto;
  margin-top: 24px;
  border-radius: 16px;
  padding: 8px;
  color: white;
}

.nav-bg {
  background: none !important;
  flex-direction: column;
  align-items: flex-start !important;
  height: auto !important;
}

.controller-menu {
  position: absolute;
  z-index: 20;
  top: 1rem;
  right: 0.5rem;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
}

@media (min-width: 640px) {
  .controller-menu {
    flex-direction: row;
  }
}
